src/META-INF/wsdl/localhost_8080/WebService/FrequencyWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://edu.unicauca.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://edu.unicauca.com/">

<xs:element name="convert" type="tns:convert"/>

<xs:element name="convertResponse" type="tns:convertResponse"/>

<xs:complexType name="convert">
<xs:sequence>
<xs:element name="value" type="xs:double" minOccurs="0"/>
<xs:element name="from" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertResponse">
<xs:sequence>
<xs:element name="return" type="tns:frequencyObject" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="frequencyObject">
<xs:sequence>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>